[submodule "maths"]
	path = maths
	url = https://github.com/sebsjames/maths
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "maths_config"]
	path = maths_config
	url = git@github.com:sebsjames/maths_config
